In [11]:
# Import Dependencies
import pandas as pd
import os as os

In [12]:
# Make a reference to the purchase_data.json file path
path = "Heroes-of-Pymoli.json"
# Import the purchase_data.json file as a DataFrame
df_all_data = pd.read_json(path,orient = 'columns')
df_all_data.head(10)

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92

In [13]:
# Remove unecessary columns from the DataFrame and save the new DataFrame
df_ordered = df_all_data[["SN", "Age", "Gender", "Item ID",
                       "Item Name", "Price"]]
df_ordered.reset_index()
df_ordered.head()

,SN,Age,Gender,Item ID,Item Name,Price
0,Aelalis34,38,Male,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Male,174,Primitive Blade,2.46
3,Pheusrical25,21,Male,92,Final Critic,1.36
4,Aela59,23,Male,63,Stormfury Mace,1.27

In [23]:
# Count of Players

count_players = len(df_ordered["SN"].unique())
print("Count of Players: " + str(count_players))

Count of Players: 573

In [35]:
# Purchasing Analysis (Total)
    # Number of Unique Items
    # Average Purchase Price
    # Total Number of Purchases
    # Total Revenue

unique_items = len(df_ordered["Item ID"].unique())
average_purchase_price = round(sum(df_ordered["Price"])/len(df_ordered["Price"]),2)
number_of_purchases = len(df_ordered["Item ID"])
total_revenue = round(sum(df_ordered["Price"]),2)
print("Unique Items: " + str(unique_items))
print("Average Purchase Price: " + str(average_purchase_price))
print("Number of Purchases: " + str(number_of_purchases))
print("Total Revenue: " + str(total_revenue))

# Push the remade DataFrame to a new CSV file
#rename_df.to_csv("Output/BooksNewData.csv")

Unique Items: 183
Average Purchase Price: 2.93
Number of Purchases: 780

TypeError: type str doesn't define __round__ method

In [21]:
# The count of unique authors within the DataFrame

#rename_df.groupby('Authors').count()

unique = len(rename_df["Authors"].unique())
unique

NameError: name 'rename_df' is not defined

In [27]:
# The year of the earliest published book in the DataFrame
earliest = rename_df["Publishing Year"].min()
latest = rename_df["Publishing Year"].max()
earliest
latest

2017.0

In [30]:
# The total number of reviews within the DataFrame
review_df = ["One Star Reviews","Two Star Reviews","Three Star Reviews","Four Star Reviews","Five Star Reviews"]
num_review_df = rename_df[review_df].sum().sum()
num_review_df

596873216